<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.EnrollmentDepartmentMapper">
    <select id="eduIdAllBelong" resultType="int">
        SELECT eduId FROM enrollment_department
        WHERE higherEduId=#{eduId}
    </select>

    <update id="setArrangeLevel">
        UPDATE enrollment_department SET
        arrangeLevel = #{arrangeLevel}
        WHERE eduId = #{eduId}
    </update>

    <select id="getArrangeLevel" resultType="int">
        SELECT arrangeLevel FROM enrollment_department
        WHERE eduId = #{eduId}
    </select>
</mapper>