<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.ExamStaffMapper">
    <insert id="register" parameterType="ExamStaff">
        INSERT INTO exam_staff (
           telephoneNumber,schoolId
        ) VALUES (
           #{telephoneNumber},#{schoolId}
        )
    </insert>

    <select id="getName" resultType="String">
       SELECT name FROM exam_staff
       WHERE esId=#{esId};
    </select>

    <update id="updateToArrange" parameterType="ExamStaff">
        UPDATE exam_staff SET
        isArrange=1
        WHERE esId = #{esId}
    </update>

    <select id="allNoArrangeGetByEduId" resultType="ExamStaff">
       SELECT * FROM exam_staff
       WHERE isArrange=0 AND eduExamine=2 AND schoolId IN
       (SELECT schoolId FROM school
       WHERE eduId IN (
       SELECT eduId FROM enrollment_department
       WHERE higherEduId=#{eduId}
       ))
    </select>

    <select id="getSchoolId" resultType="int">
       SELECT schoolId FROM exam_staff
       WHERE esId=#{esId};
    </select>

    <select id="getQualifiedExStaffBySchoolId" resultType="ExamStaff">
        select * from exam_staff
        WHERE schoolId = #{schoolId} AND qualified=1
    </select>

    <select id="getAllByHigerEduId" resultType="ExamStaff">
        select * from exam_staff
        WHERE qualified=0 AND schoolId IN(
        SELECT schoolId FROM school
        WHERE eduId IN(
        SELECT eduId FROM enrollment_department
        WHERE higherEduId=#{eduId}
        )
        )
    </select>

</mapper>



