<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.ExamStaffMapper">
    <select id="getOneExStaff" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
        WHERE esId = #{esId}
    </select>

    <update id="verifyPass">
        UPDATE exam_staff SET
        qualified = true
        WHERE esId = #{esId}
    </update>

    <select id="getEsIdByTele" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select esId from exam_staff
        WHERE telephoneNumber = #{telephoneNumber}
    </select>
</mapper>