<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.ExamRoomMapper">
    <select id="getAllExamRoom" resultType="com.praticaltraining.rsndm.entity.ExamRoom">
        select * from exam_room
        WHERE schoolId = #{schoolId}
    </select>

    <insert id="createExRoom" parameterType="com.praticaltraining.rsndm.entity.ExamRoom">
        INSERT INTO exam_room(
           schoolId,floorId,roomNum,isArrange
        ) VALUES (
           #{schoolId},#{floorId},#{roomNum},0
        )
    </insert>

    <select id="getNumberOfExRoom" resultType="int">
        select COUNT(*) from exam_room
        WHERE schoolId = #{schoolId}
    </select>

    <select id="getOneExRoom" resultType="com.praticaltraining.rsndm.entity.ExamRoom">
        select * from exam_room
        WHERE exRoomId = #{exRoomId}
    </select>

    <update id="changeExRoom">
        UPDATE exam_room SET
        floorId = #{floorId},
        roomNum = #{roomNum}
        WHERE exRoomId = #{exRoomId}
    </update>

    <delete id="deleteExRoom">
        delete FROM exam_room
        WHERE exRoomId = #{exRoomId}
    </delete>

    <update id="clearArrange">
        update exam_room SET
        isArrange = 0
        WHERE schoolId = #{schoolId}
    </update>

    <update id="setArrange">
        update exam_room SET
        isArrange = 1
        WHERE exRoomId = #{exRoomId}
    </update>

    <select id="roomsIsArangeOfOneSchool" resultType="int">
        select COUNT(*) from exam_room
        WHERE schoolId = #{schoolId} AND isArrange= 1
    </select>

    <select id="floorsIsArange" resultType="int">
        select COUNT(distinct floorId) from exam_room
        where isArrange= 1 AND schoolId IN(
            select schoolId from school
            where eduId IN(
                select eduId from enrollment_department
                where higherEduId=#{eduId}
            )
        )
    </select>

    <select id="floorsIsArangeOfOneSchool" resultType="int">
        select COUNT(distinct floorId) from exam_room
        where isArrange= 1 AND schoolId=#{schoolId}
    </select>

    <select id="getAllArrangedExamRoom" resultType="com.praticaltraining.rsndm.entity.ExamRoom">
        select * from exam_room
        WHERE schoolId = #{schoolId} AND isArrange= 1
    </select>
</mapper>
