<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.ExamStaffMapper">
    <select id="getOneExStaff" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
        WHERE esId = #{esId}
    </select>

    <update id="verifyPass">
        UPDATE exam_staff SET
        qualified = true
        WHERE esId = #{esId}
    </update>

    <update id="verifyNotPass">
        UPDATE exam_staff SET
        qualified = false
        WHERE esId = #{esId}
    </update>

    <select id="getEsIdByTele" resultType="int">
        select esId from exam_staff
        WHERE telephoneNumber = #{telephoneNumber}
    </select>

    <update id="updateExStaff">
        UPDATE exam_staff SET
        name = #{name},
        age = #{age},
        sex = #{sex},
        schoolId = #{schoolId},
        telephoneNumber = #{telephoneNumber},
        grade = #{grade},
        subject = #{subject},
        qualified = #{qualified},
        schoolExamine = #{schoolExamine},
        photograph = #{photograph},
        eduExamine = #{eduExamine},
        finalRejection = #{finalRejection}
        WHERE esId = #{esId}
    </update>

    <select id="getExStaffListBySchoolId" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
        WHERE schoolId = #{schoolId}
    </select>

    <update id="updateEduExamine">
        UPDATE exam_staff SET
        eduExamine = #{eduExamine}
        WHERE esId = #{esId}
    </update>

    <select id="getQualifiedExStaffList" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
--      WHERE 联表查询
    </select>

    <update id="clearArrange">
        update exam_staff SET
        isArrange = 0
    </update>

    <select id="getExStaffListVerifying" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
        WHERE schoolId = #{schoolId}
        AND schoolExamine = 1
    </select>

    <select id="getExStaffListVerified" resultType="com.praticaltraining.rsndm.entity.ExamStaff">
        select * from exam_staff
        WHERE schoolId = #{schoolId}
        AND schoolExamine = 2
    </select>

    <update id="updateSchoolExamine">
        UPDATE exam_staff SET
        schoolExamine = #{schoolExamine}
        WHERE esId = #{esId}
    </update>
</mapper>