<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.FloorMapper">
    <select id="getAllFloor" resultType="com.praticaltraining.rsndm.entity.Floor">
        select * from Floor
        WHERE schoolId = #{schoolId}
    </select>
</mapper>