<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.InspectionTeamMapper">
    <select id="getOneByEsId" resultType="InspectionTeam">
       SELECT * FROM inspection_team
       WHERE firstInspectionPersonId=#{esId} OR secondInspectionPersonId=#{esId};
    </select>
    <select id="getAllByEduId" resultType="InspectionTeam" parameterType="InspectionTeam">
       SELECT * FROM inspection_team
       WHERE eduId=#{eduId};
    </select>

</mapper>