<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.InspectionTeamArrangementMapper">
    <select id="getAllInspectionTeamArrangementOfOneInspectionTeam" resultType="InspectionTeamArrangement" parameterType="int">
        SELECT * FROM inspection_team_arrangement
        WHERE inspectionTeamId=#{inspectionTeamId};
    </select>

    <delete id="clearITA">
        DELETE FROM inspection_team_arrangement
        WHERE schoolId IN
        (SELECT schoolId FROM school
        WHERE eduId=#{eduId})
    </delete>

    <insert id="createInspectionTeamArrange" parameterType="int">
        INSERT INTO inspection_team_arrangement (
           inspectionTeamId,schoolId,sessions
        ) VALUES (
           #{inspectionTeamId},#{schoolId},#{sessions}
        )
    </insert>

    <select id="getITAOfSchool" resultType="com.praticaltraining.rsndm.entity.InspectionTeamArrangement">
        SELECT * FROM inspection_team_arrangement
        WHERE schoolId=#{schoolId};
    </select>

    <update id="setFloorId">
        UPDATE inspection_team_arrangement SET
        floorId = #{floorId}
        WHERE itArrangeId = #{itArrangeId}
    </update>

    <update id="clearITAmsg">
        UPDATE inspection_team_arrangement SET
        floorId = NULL
        WHERE schoolId IN
        (
        SELECT schoolId FROM school
        WHERE eduId=#{eduId}
        )
    </update>
</mapper>