<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.InspectionTeamArrangementMapper">
    <select id="getAllInspectionTeamArrangementOfOneInspectionTeam" resultType="InspectionTeamArrangement" parameterType="int">
        SELECT * FROM inspection_team_arrangement
        WHERE inspectionTeamId=#{inspectionTeamId};
    </select>

    <delete id="clearITA">
        delete FROM inspection_team_arrangement
    </delete>
</mapper>