<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.InvigilatorGroupArrangementMapper">
    <select id="getAllInvigilatorGroupArrangementOfOneInvigilatorGroup" resultType="InvigilatorGroupArrangement" parameterType="int">
        SELECT * FROM invigilator_group_arrangement
        WHERE invigilatorGroupId=#{invigilatorGroupId};
    </select>

    <delete id="clearIGA">
        DELETE FROM invigilator_group_arrangement
        WHERE schoolId IN
        (SELECT schoolId FROM school
        WHERE eduId=#{eduId})
    </delete>

    <insert id="createInvigilatorGroupArr" parameterType="int">
        INSERT INTO invigilator_group_arrangement (
           invigilatorGroupId,schoolId
        ) VALUES (
           #{invigilatorGroupId},#{schoolId}
        )
    </insert>
</mapper>