<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.InvigilatorGroupMapper">
    <select id="getAllByEduId" resultType="InvigilatorGroup" parameterType="int">
       SELECT * FROM invigilator_group
       WHERE eduId=#{eduId};
    </select>

    <select id="getAllByHighEduId" resultType="InvigilatorGroup" parameterType="int">
       SELECT * FROM invigilator_group
       WHERE eduId IN(
       SELECT eduId FROM enrollment_department
       WHERE higherEduId=#{higherEduId}
       );
    </select>

    <delete id="clearIG" parameterType="int">
        DELETE FROM invigilator_group
        WHERE eduId=#{eduId}
    </delete>

    <insert id="createInvigilatorGroup" parameterType="int">
        INSERT INTO invigilator_group (
           examinerId,eduId
        ) VALUES (
           #{examinerId},#{eduId}
        )
    </insert>

    <update id="setFirst">
        UPDATE invigilator_group SET
        firstInvigilatorId = #{firstInvigilatorId}
        WHERE invigilatorGroupId = #{invigilatorGroupId}
    </update>

    <update id="setSecond">
        UPDATE invigilator_group SET
        secondInvigilatorId = #{secondInvigilatorId}
        WHERE invigilatorGroupId = #{invigilatorGroupId}
    </update>

</mapper>