<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.praticaltraining.rsndm.mapper.SchoolMapper">
    <select id="getAll" resultType="com.praticaltraining.rsndm.entity.School">
        select * from school
    </select>

    <select id="getByEduId" resultType="com.praticaltraining.rsndm.entity.School">
        select * from school
        WHERE eduId = #{eduId}
    </select>

    <update id="examineExRoom">
        UPDATE school
        SET school.exRoomExamine = #{exRoomExamine}
        WHERE schoolId = #{schoolId}
    </update>

    <update id="submitExRoom">
        UPDATE school
        SET school.exRoomExamine = 1
        WHERE schoolId = #{schoolId}
    </update>

    <select id="getSchoolName" resultType="String">
        SELECT schoolName FROM school
        WHERE schoolId=#{schoolId}
    </select>

    <update id="setType">
        UPDATE school SET
        typeOfExaminationSite = #{typeOfExaminationSite}
        WHERE schoolId = #{schoolId}
    </update>
    
    <select id="getState" resultType="int">
        SELECT exRoomExamine FROM school
        WHERE schoolId=#{schoolId}
    </select>
</mapper>