stages:
  - install_dependencies
  - test

default:
  image: node:14

cache:
  paths:
    - frontend/node_modules/

install_dependencies:
  stage: install_dependencies
  script:
    - cd frontend
    - npm config set registry https://registry.npm.taobao.org
    - npm install
  only:
    - merge_requests

lint:
  stage: test
  script:
    - cd frontend
    - npm run lint
  only:
    - merge_requests

unit_test:
  stage: test
  script:
    - cd frontend
    - npm run test:unit -- --passWithNoTests
  only:
    - merge_requests
